<div>
  <!-- Lists menu -->
  <div>
    <app-lists-menu
      [lists]="lists"
      (listSelectedEvent)="setSeletedList($event)"
    ></app-lists-menu>
  </div>
  <!-- Lists detail -->
  <div>
    <app-list-detail [list]="list"></app-list-detail>
  </div>
</div>

<app-add-list (listAddedEvent)="newListAdded($event)"></app-add-list>

<!-- <div>
  <div>
    <form>
      <div>
        <label>Title</label> <br />
        <input type="text" placeholder="List title..." />
      </div>
      <div>
        <label>Description</label> <br />
        <textarea placeholder="Description..." cols="30" rows="10"></textarea>
      </div>
      <div>
        <button type="submit">Create</button>
      </div>
    </form>
  </div>
</div> -->
