<div>
  <!-- Lists menu -->
  <div>
    <aside>
      <p>Lists</p>
      <div>
        <input type="text" placeholder="Search..." />
      </div>
      <ul>
        <li *ngFor="let list of lists; let i = index">
          <button (click)="setCurrentList(i)">{{ list.title }}</button>
        </li>
        <li>
          <button>Create lists +</button>
        </li>
      </ul>
    </aside>
  </div>
  <!-- Lists detail -->
  <div>
    <article *ngIf="list">
      <header>
        <h2>{{ list.title }}</h2>
        <br /><span
          ><small>{{ list.createdAt | date: "mediumDate" }}</small></span
        >
      </header>
      <main>
        <ul *ngFor="let task of list.tasks; let i = index">
          <li>
            <input type="checkbox" />
            <span>
              <strong>{{ task.title }}</strong>
              {{ task.description }}
            </span>
          </li>
        </ul>
      </main>
    </article>
  </div>
</div>

<div>
  <div>
    <form>
      <div>
        <label>Title</label> <br />
        <input type="text" placeholder="List title..." />
      </div>
      <div>
        <label>Description</label> <br />
        <textarea placeholder="Description..." cols="30" rows="10"></textarea>
      </div>
      <div>
        <button type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
